<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/fragment :: head"></head>
<body class="bg-secondary">
<header>
    <nav th:replace="fragments/fragment :: nav"></nav>
</header>
<main role="main" class="bg-secondary">

    <div class="jumbotron text-center">
        <div class="container text-light text-center">
            <h1 class="display-3"><strong class="bg-blur rounded">All active</strong></h1>
            <h1 class="display-3"><strong class="bg-blur rounded">Orders</strong></h1>
        </div>
        <div class="row mt-3 mb-3 ">
            <div class="col-5 bg-blur rounded m-auto pb-3">
                <h3 class="mySticky bg-gray text-light rounded" th:text="|Тime to prepare all orders(in min): ${allSUm}|"></h3>
                <div th:each="c : ${cakes}" th:object="${c}" class="mt-3 rounded badge-info p-3">
                    <img class="mr-2" src="/images/cake.png" alt="Cake" width="50px" height="50px">
                    <span th:text="|*{name}|" class="p-3"></span>
                    <span th:text="|*{price}|" class="p-3"></span>
                    <a class="ml-3 p-3 text-warning" th:href="@{'/orders/ready/{id}'(id = *{id})}">Ready</a>
                </div>
                <div th:each="d : ${drinks}" th:object="${d}" class="mt-3 rounded badge-info p-3">
                    <img class="mr-2" src="/images/drink.png" alt="Drink"
                         width="50px" height="50px">
                    <span th:text="|*{name}|" class="p-3"></span>
                    <span th:text="|*{price}|" class="p-3"></span>
                    <a class="ml-3 p-3 text-warning" th:href="@{'/orders/ready/{id}'(id = *{id})}">Ready</a>
                </div>
                <div th:each="o : ${others}" th:object="${o}" class="mt-3 rounded badge-info p-3">
                    <img class="mr-2" src="/images/other.png" alt="Other"
                         width="50px" height="50px">
                    <span th:text="|${o.name}|" class="p-3"></span>
                    <span th:text="|${o.price}|" class="p-3"></span>
                    <a class="ml-3 p-3 text-warning" th:href="@{'/orders/ready/{id}'(id = ${o.id})}">Ready</a>
                </div>
                <div th:each="co : ${coffees}" th:object="${co}" class="mt-3 rounded badge-info p-3">
                    <img class="mr-2" src="/images/coffee.png" alt="Coffee"
                         width="50px" height="50px">
                    <span th:text="|*{name}|" class="p-3">Name</span>
                    <span th:text="|*{price}|" class="p-3">Price</span>
                    <a class="ml-3 p-3 text-warning" th:href="@{'/orders/ready/{id}'(id = *{id})}">Ready</a>
                </div>
            </div>
            <div class="col-5 bg-blur rounded m-auto pb-3">
                <h3 class="mySticky bg-gray text-light rounded">Orders by employee</h3>
                <div th:each="m : ${users}" class="mt-3 rounded badge-info p-3">
                    <img class="mr-2" src="/images/employee.png" alt="Employee"
                         width="50px" height="50px">
                    <span th:text="|Employee - ${m.key}|" class="p-3">Employee - Pesho</span>
                    <span th:text="|Number of orders: ${m.value}|" class="p-3">Number of orders: 4</span>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/fragment :: footer" class="container"></footer>
</body>
</html>